Repository shipperstack/shipper: changes, and which Codecov flags are due for each by the changed paths.
All: server, release-helper

codecov.yml:

flags:
  server:
    paths:
      - server/
    carryforward: true
  release-helper:
    paths:
      - release-helper/
    carryforward: true

build(deps): bump django from 5.1.7 to 5.1.10 in /server
  server/requirements/common.txt
Due: server

feat(server): add thumbhash string to backend-frontend data
  server/downloads/views.py
Due: server

feat(server): add extra thumbhash field to Device type
  server/frontend/components/DownloadList.tsx
Due: server

feat(server): add thumbhash on client-side
  server/downloads/static/css/card.css
  server/downloads/static/downloads-main.bundle.js.LICENSE.txt
  server/frontend/components/DeviceCard.tsx
  server/package.json
  server/pnpm-lock.yaml
Due: server

build(server): update Python3 and Python3-dev to 3.12.12-r0
  server/Dockerfile
Due: server

fix: use updated django-dbbackup config options
  server/config/settings.py
Due: server

fix: add default STORAGES value from Django
  server/config/settings.py
Due: server

downloads: add new statistics page
  server/downloads/templates/statistics_main.html
Due: server

Add statistics page
  server/core/models/device.py
  server/downloads/views.py
Due: server

core: models: remove unnecessary all() call
  server/core/models/device.py
Due: server

build(server): update PostgreSQL client (15.14 -> 15.15)
  server/Dockerfile
Due: server

build(ci): remove Dependabot in preparation for Renovate migration
  .github/dependabot.yml
Due: none

fix(release-helper): add support for Renovate commits
  release-helper/src/lib.rs
Due: release-helper

release: 2.43.0
  CHANGELOG.md
  server/version.txt
  shippy/shippy/version.py
  version.txt
Due: server

docs: update SECURITY
  SECURITY.md
Due: none

docs: fix docker compose command
  docs/sysadmin/Database-Operations.md
Due: none

docs: update backup instructions
  docs/sysadmin/Database-Operations.md
Due: none

docs: update and add Backup page
  docs/sysadmin/Backup.md
  docs/sysadmin/Database-Operations.md
Due: none

docs: add backup page to index
  docs/README.md
Due: none

docs: correct backup file name format for media backups
  docs/sysadmin/Backup.md
Due: none

Revert "chore(deps): update alpine docker tag to v3.23"
  server/Dockerfile
Due: server
